
:root{
  --pink-light: #e4e6e5
}

body {
  margin: 25px;
  padding: 0;
  background-color: pink;

}


* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 20px;
  background: linear-gradient(pink, rgb(225, 11, 186), pink);
}

header h1 {
  font-size: 2rem;
  text-align: center;
  text-shadow: pink 2px 2px;
}

main {
  float: left;
  max-width: 75%;
}

aside .side-menu {
  float: right;
  max-width: 25%;
  min-width: 200px;
  max-height: 200px;
  background-color: var(--pink-light);
  border: 1px solid steelblue;
  border-radius: 5px;
  margin: 80px 0 0 20px;
  padding: 10px;
}

.side-menu li {
  margin: 7px 0;
  list-style: none;
}

#menu-header {
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: underline;
  color: black;
}

.main-content{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.columns{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.side-menu li a {
  text-decoration: none;
  color: steelblue;
  padding: 2px;
}

.side-menu li a:hover {
  color: turquoise;
  font-weight: bold;
}

.main-content h2 {
  font-size: 1.8rem;
  text-decoration: underline;
  text-align: center;
  text-shadow: grey 2px 2px;
}

.main-content p {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin-right: 20px;
  color: #000;
}

.main-content p[id-data="1"] {
  background-color: #cdd4d6;
}

.main-content p[id-data="2"] {
  background-color: #e6f4f8;
}

.main-content p::first-line {
  color: rgb(207, 12, 126);
}

.main-content p::first-letter {
  text-decoration: underline;
  font-size: 1.6rem;
}

.main-content p img {
  float: left;
  width: 50px;
  height: 50px;
  margin: 5px;
  transition: all 0.3s;
}

.main-content p img:hover {
  transform: scale(2);
}

footer {
  clear: both;
  text-align: center;
  height: 100px;
  background: gray;
  vertical-align: middle;
  line-height: 100px;
}

nav {
  margin: 0;
  border-bottom: #adb1b2 solid 1px;
  padding: 25px 5px;
  background: var(--pink-light);
  text-align: center;
}

nav a {
  padding: 0px 32px;
  border-right: #f71a7d dotted 2px;
  font-size: 18px;
  color: #c7117e;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline; 
  color: rgb(237, 23, 112);
}

nav a:last-child {
  border-right: none;
}
